@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

html, body {
  width: 100%;
  height: 100%;
  font-family: Quicksand, Avenir, Helvetica, sans-serif;
}

html, body h1{
  font-family: Josefin Slab, Georgia, serif;
}


/*header styling begins here*/

#wh{
  height: 40px;
  width: 55px;
}

nav.top-bar{
  height: 0px;
  position: fixed;
  line-height: 0px;
}

#menu.off-canvas-list{
  text-align: center;
  position: fixed;
  overflow: scroll;
}

section.right-small{
  border-left: 0px;
  box-shadow: 0px 0px 0px;
}

a.menu-icon{
  height: 4em;
  width: 4em;
}

.main-section{
  background-image: url('../images/tegu_click.png');
  background-size: cover;
}

header {
  height: 800px;
  width: 100%;
   background-image: url('../images/tegu_click.png');
  background-size: cover;
}

header img {
  margin-top: 25%;
}

header #hello {
  color: #ececec;
  font-size: 85px;
  margin-top: 21%;
  margin-bottom: 0px;
  padding-left: 60px;
}

header #hero {
  color: #ececec;
  font-size: 22px;
  padding-left: 68px;
  margin-bottom: 8%;
}

.sunny{
  float: center;
  color: #f68b11;
}

img.sunny{
  float: center;
  color: #f68b11;
}

p.sunny{
  text-align: center;
  font-family: Josefin Slab, Georgia, serif;
  font-size: 30px;
  color: #f68b11;
}


/*new icon styling*/

#research{
  height: 800px;
  width: 100%;
  background-color: #00aef0;
}

#research h1{
  color: white;
}

#research_p{
  bottom: 0px;
}

#research_content{
  top: 200px;
  font-size: 1.5em;
  color: white;
}

#research li {
  padding-top: 10px;
  text-align: center;
  list-style-type: none;
}

#research li p{
  padding-top: 10px;
}

#ia{
  height: 800px;
  width: 100%;
  background-color: #cae100;
}

#ia h1{
  color: white;
}

#ia_p{
  bottom: 50px;
}

#ia_content{
  top: 200px;
  font-size: 24px;
  color: white;
}

#ia li {
  padding-top: 10px;
  text-align: center;
  list-style-type: none;
}

#ia li p{
  padding-top: 10px;
}


#ixd{
  height: 800px;
  width: 100%;
  background-color: #ec008c;
}

#ixd h1{
  color: white;
}

#ixd_p{
  bottom: 50px;
}

#ixd_content{
  top: 200px;
  font-size: 24px;
  color: white;
}

#ixd li {
  padding-top: 10px;
  text-align: center;
  list-style-type: none;
}

#ixd li p{
  padding-top: 10px;
}


#ui{
  height: 800px;
  width: 100%;
  background-color: #00e17e;
}

#ui h1{
  color: white;
}

#ui_p{
  bottom: 50px;
}

#ui_content{
  top: 200px;
  font-size: 24px;
  color: white;
}

#ui li {
  padding-top: 10px;
  text-align: center;
  list-style-type: none;
}

#ui li p{
  padding-top: 10px;
}


#learn{
  height: 800px;
  width: 100%;
  background-color: #4b4b4b;
}

#learn h1{
  color: white;
}

#learn_p{
  bottom: 50px;
}

#learn_content{
  top: 200px;
  font-size: 24px;
  color: white;
}

#learn li {
  padding-top: 10px;
  text-align: center;
  list-style-type: none;
}

#learn li p{
  padding-top: 10px;
}

.bottom{
  padding-top: 25px;
}


/*quote and footer*/

#quote{
  height: 500px;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 150px;
  padding-right: 150px;
  padding-left: 150px;
  text-align: center;
  color: black;
}

section #quote p{
  float: left;
}

#social{
  padding-top: 100px;
}

#social li{
  list-style-type: none;
  padding-right: 0.2em;
  padding-left: 0.2em; 
}


/* modal styling begins here*/

#schoolModal {
  background: url('http://blrrr.com/wp-content/uploads/2013/09/2013-09-16-19.54.05.png');
  background-size: cover;
}

#schoolModal p { 
  font-family: Avenir, Helvetica, sans-serif;
  font-size: 20px;
  color: white
}

#hotspotModal {
  background: url('http://blrrr.com/wp-content/uploads/2013/09/2013-09-17-19.47.37.png');
  background-size: cover;
}

#hotspotModal p {
  font-size: 20px;
  color: white
}

#leagueModal {
  background: url('http://blrrr.com/wp-content/uploads/2013/09/2013-09-15-18.22.02.png');
  background-size: cover;
}

#leagueModal p {
  font-size: 20px;
  color: white;
}

#leagueModal img {
  padding-top: 20px;
  padding-bottom: 20px;
}

#publetModal {
  background: url('http://blrrr.com/wp-content/uploads/2013/09/2013-09-16-19.50.59.png');
  background-size: cover;
}

#publetModal p {
  font-size: 20px;
  color: white;
  padding-top: 50px;
}

#hipitiModal {
  background: url('http://blrrr.com/wp-content/uploads/2013/09/2013-09-16-19.51.32.png');
  background-size: cover;
}

#hipitiModal p {
  font-size: 20px;
  color: white
}

#netflixModal {
  background: url('http://blrrr.com/wp-content/uploads/2013/09/2013-09-17-19.47.18.png');
  background-size: cover;
}

#netflixModal p {
  font-size: 20px;
  color: white
}

#popvoxModal {
  background: url('http://blrrr.com/wp-content/uploads/2013/09/2013-09-15-18.17.37.png');
  background-size: cover;
}

#popvoxModal p {
  font-size: 20px;
  color: white
}

#pvlogo {
  position: center;
  padding-bottom: 50px;
  padding-left: 20px;
}


#schoolModal2 {
  background: url('http://blrrr.com/wp-content/uploads/2013/09/2013-09-16-19.54.05.png');
  background-size: cover;
  height: auto;
  width: auto;
  left: 60%;
  position: absolute;
}

#schoolModal2 h1{
  color: white;
}

#schoolModal2 iframe{
  left: 30%
}

#hotspotModal2 {
  background: url('http://blrrr.com/wp-content/uploads/2013/09/2013-09-17-19.47.37.png');
  background-size: cover;
  height: auto;
  width: auto;
  left: 60%;
  position: absolute;
}

#hotspotModal2 h1{
  color: white;
}

#hotspotModal2 iframe{
  left: 30%
}

#hotspotVideo {
  background: url('http://blrrr.com/wp-content/uploads/2013/09/2013-09-17-19.47.37.png');
  background-size: cover;
  height: auto;
  width: auto;
  left: 60%;
  position: absolute;
}

#hotspotVideo h1{
  color: white;
}

#hotspotVideo iframe{
  left: 30%
}

#leagueModal2 {
  background: url('http://blrrr.com/wp-content/uploads/2013/09/2013-09-15-18.22.02.png');
  background-size: cover;
  height: auto;
  width: auto;
  left: 60%;
  position: absolute;
}

#leagueModal2 h1{
  color: white;
}

#leagueModal2 iframe{
  left: 30%
}

#publetModal2 {
  background: url('http://blrrr.com/wp-content/uploads/2013/09/2013-09-16-19.50.59.png');
  background-size: cover;
  height: auto;
  width: auto;
  left: 60%;
  position: absolute;
}

#publetModal2 h1{
  color: white;
}

#publetModal iframe{
  left: 30%
}

#publetVideo {
  background: url('http://blrrr.com/wp-content/uploads/2013/09/2013-09-16-19.50.59.png');
  background-size: cover;
  height: auto;
  width: auto;
  left: 60%;
  position: absolute;
}

#publetVideo h1{
  color: white;
}

#publetVideo iframe{
  left: 30%
}

#hipitiModal2 {
  background: url('http://blrrr.com/wp-content/uploads/2013/09/2013-09-16-19.51.32.png');
  background-size: cover;
  height: auto;
  width: auto;
  left: 60%;
  position: absolute;
}

#hipitiModal2 h1{
  color: white;
}

#hipitiModal2 iframe{
  left: 30%
}

#hipitiVideo {
  background: url('http://blrrr.com/wp-content/uploads/2013/09/2013-09-16-19.51.32.png');
  background-size: cover;
  height: auto;
  width: auto;
  left: 60%;
  position: absolute;
}

#hipitiVideo h1{
  color: white;
}

#hipitiVideo iframe{
  left: 30%
}

#netflixModal2 {
  background: url('http://blrrr.com/wp-content/uploads/2013/09/2013-09-17-19.47.18.png');
  background-size: cover;
  height: auto;
  width: auto;
  left: 60%;
  position: absolute;
}

#netflixModal2 h1{
  color: white;
}

#netflixModal2 iframe{
  left: 30%
}









