@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

html, body {
  width: 100%;
  height: 100%;
  font-family: Quicksand, Avenir, Helvetica, sans-serif;
}

html, body h1{
  font-family: Josefin Slab, Georgia, serif;
}


/*header styling begins here*/

#menu.off-canvas-list{
  text-align: center;
  position: fixed;
  overflow: scroll;
}

section.right-small{
  border-left: 0px;
  box-shadow: 0px 0px 0px;
}

a.menu-icon{
  height: 4em;
  width: 4em;
}

.main-section{
  background-image: url('../images/magnetic_moments.png');
  background-size: cover;
}

header {
  height: 800px;
  width: 100%;
}

header img {
  margin-top: 20%;
  margin-left: 40%;
}

header #hello {
  color: black;
  font-size: 35px;
  margin-bottom: 0px;
  padding-left: 60px;
  text-align: center;
}

header #hero {
  color: black;
  font-size: 22px;
  padding-left: 68px;
  margin-bottom: 8%;
  text-align: center;
}


/*new icon styling*/

#about{
  height: 400px;
  width: 100%;
  background-color: white;
  margin-top: 200px;
}

#about p{
  font-size: 20px;
}

#giving{
  height: 400px;
  width: 100%;
  background-color: white;
  margin-top: 100px;
}

#giving p{
  font-size: 20px;
}


#gallery{
  height: 500px;
  width: 100%;
  margin-top: 150px;
  background-image: url('../images/gallery-copy.png');
  background-size: cover;
}

#gallery p{
  color: white;
  font-size: 40px;
  text-align: center;
  padding-top: 200px;
}

#gallery a:hover{
  background-color: hsla(214, 0%, 94%, 0.37);
}









